.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Optional: space it away from other elements */
  }
  
  .btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer; /* Optional: to show it's clickable */
  }
  
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    
  }
  
  .webcam-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .webcam-btn:hover {
    background-color: #45a049;
  }
  
  .video-container {
    position: relative;
    width: 640px;
    height: 480px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
  }
  
  .video-mirrored {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%) scaleX(-1);
    transition: all 0.3s ease;
  }
  
  .alert {
    background-color: #04810b;
    color: white;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
  }
  
  .uploaded-image-container {
    text-align: center;
    margin: 20px 0;
  }
  
  .uploaded-image {
    width: 200px; /* Adjust the size as needed */
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .matched-images {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .matched-image {
    width: 300px;
    margin: 0 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
  }
  
  .matched-image:hover {
    transform: scale(1.05);
  }
  .alert-green {
    background-color: #4CAF50;
    color: white;
  }
  
  .alert-red {
    background-color: #F44336;
    color: white;
  }
  .warning {
    color: #333;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 15px;
  }
  
  .warning ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  .face-outline {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 253px;
    height: 317px;
    border: 2px solid #00ff00;
    border-radius: 50% / 70%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
  .centered-gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjust this to match your container's height */
    width: 100%;  /* Adjust this to match your container's width */
  }
  
  .centered-gif {
    width: 150px;  /* Set the desired width */
    height: auto;  /* Maintain aspect ratio */
  }
  .refresh-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .refresh-btn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .refresh-btn:hover {
    background-color: #0056b3;
  }
  