.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  
  .webcam-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .webcam-btn:hover {
    background-color: #45a049;
  }
  
  .video-container {
    position: relative;
    width: 640px;
    height: 480px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
  }
  
  .video-mirrored {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%) scaleX(-1);
    transition: all 0.3s ease;
  }
  
  .alert {
    background-color: #04810b;
    color: white;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
  }
  
  .uploaded-image-container {
    text-align: center;
    margin: 20px 0;
  }
  
  .uploaded-image {
    width: 200px; /* Adjust the size as needed */
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .matched-images {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .matched-image {
    width: 300px;
    margin: 0 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
  }
  
  .matched-image:hover {
    transform: scale(1.05);
  }
  .alert-green {
    background-color: #4CAF50;
    color: white;
  }
  
  .alert-red {
    background-color: #F44336;
    color: white;
  }